@{
    ViewData["Title"] = "Archive Helper Page";
}

<h1 class="mt-5 mb-2" style="text-align: center">Archive Helper Page</h1>

<div class="text-center">
    <div id="archive-dropzone" class="dropzone" style="margin-top: 50px"></div>
    <button id="submit" type="button" class="btn btn-primary btn-lg mx-auto d-block my-3" style="margin-top: 2rem!important;">Submit</button>
</div>

<input type="file" id="files" name="file" />

@section Scripts
{
    <script src="~/js/archive-helper.js" asp-append-version="true"></script>
}
