@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple application for file encryption and decryption, see <a href="https://github.com/maksonios/SPZ_PROSTAKOV_MV_KI-38_2">source code here</a>.</p>
</div>